<%= erb :'layouts/_header' %>

  <img src="http://<%= @pigeon.color.delete("[],\"").split.first %>pigeon.jpg.to/" width="300">

  <h2>Pigeon</h2>
  <%= @pigeon.name %>
  <%= @pigeon.color %>
  <%= @pigeon.gender %>
  <%= @pigeon.lives %>


<%= erb :'layouts/_footer' %>
